<?xml version="1.0"?>
<plugins>
	<plugin id="0" name="Open" reload="False" ip="127.0.0.1" port="5100">
		<command name="documents" transcription="ouvre mes documents" type="system" exec="ls"/>
		<command name="musiques"  transcription="ouvre ma musique" type="custom"/>
		<command name="images"    transcription="ouvre mes images" type="custom"/>
	</plugin>
    <plugin id="1" name="Action" reload="False" ip="127.0.0.1" port="6000">
		<command name="copier" transcription="copier ceci" type="system" exec="xdotool key ctrl+c"/>
		<command name="coller" transcription="coller ici"  type="system" exec="xdotool key ctrl+v"/>
		<command name="couper" transcription="couper ceci" type="system" exec="xdotool key ctrl+x"/>
	</plugin>
</plugins>
